{% extends 'shop/base.html'%}

{% block body %}
<body>
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-item-center">
                   <div class="col">
                       <input type="search" name='item_name' placeholder="Search for products" class="form-control form-control-borderless">
                   </div>
                   <div class="col-auto">
                       <button class="btn btn-success" type="submit" >Search</button>
                   </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for product in product_objects %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top">
                <div class="card-body">
                    <div id="nm{{ product.id }}" class="card-title">{{ product.title }}</div>
                    <div id="price{{ product.id }}" class="card-text">{{ product.price}}</div>
                    <div class="detail">
                        <a class="btn btn-warning" href="/{{ product.id }}">View</a>
                        <button id="{{ product.id }}" class="btn atc btn-warning">Add to card</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                    <li>
                       <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                     </li>
                {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>                            
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
console.log('this is working');

if(localStorage.getItem('cart')==null){
    var cart = {};
}
else{
    cart = JSON.parse(localStorage.getItem('cart'));
}

$(document).on('click','.atc',function(){
    console.log("the add to cart button clicked");
    var item_id = this.id.toString();
    console.log(item_id);

    if(cart[item_id]!=undefined){
        quantety = cart[item_id][0] + 1;
        cart[item_id][0] = quantety;
        cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price"+ item_id).innerHTML);



    }
    else{
        quantety = 1;
        price = parseFloat(document.getElementById("price"+item_id).innerHTML);
        name = document.getElementById("nm"+item_id).innerHTML;
        cart[item_id]=[quantety,name,price];


    }
    console.log(cart);
    localStorage.setItem('cart',JSON.stringify(cart));
   /* document.getElementById("cart").innerHTML = "Cart(" + Object.keys(cart).length + ")";*/
});

/*DisplayCart(cart);
function DisplayCart(cart){
    var cartString = "";
    cartString += "<h5>Your Cart is empty</h5>";
    var cartIndex = 1;
    for(var x in cart){
        cartString += cartIndex;
        cartString += "." + document.getElementById("nm"+x).innerHTML + "Qty:" + cart[x][0] + "</br>";
        cartIndex += 1;
    }
    
    cartString += "<a href='/checkout' class='btn btn-warning' id='checkout'>Checkout</a>";
    document.getElementById("cart").setAttribute('data-content',cartString);
    $('[data-toggle="popover"]').popover();
}*/

</script>
{% endblock %}